{% extends 'base.html' %}

{% block content %}
<div class="container" style="background-color:rgba(255,255,255,0.3);">
    <div class="container">
	<br />
	<span class="glyphicon glyphicon-chevron-left"></span>
	{% if user.is_authenticated %}<a href="/profile/">Back to My Profile</a>{% else %}<a href="/login/">Back to Login Page</a>{% endif %}
    </div>
    <br />
    <div class="alert alert-danger pagination-center"><p class="text-center"><span class="glyphicon glyphicon-warning-sign"></span> You do not have permission to view this page.  <span class="glyphicon glyphicon-warning-sign"></span></p></div>
</div>

{% endblock %}
