{% extends 'base.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}

<head>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>

{% block content %}
<div class="container" style="background-color:rgba(255,255,255,0.3);">
    <form class="form-horizontal form-signin span4" role="form" method="POST" action="{% url 'django.contrib.auth.views.password_change' %}">{% csrf_token %}
	<h2 class="form-signin-heading">Change your password</h2>
	{% if form.non_field_errors %}
	    {% for err in form.non_field_errors %}
		<p class="text-danger">{{ err }}</p>
	    {% endfor %}
	{% endif %}
	{% if form.errors %}
	    {% for err in form.errors %}
		<p class="text-danger">{{ err }}</p>
	    {% endfor %}
	{% endif %}
	<label>Old Password</label>
	{{ form.old_password|add_class:"form-control"|append_attr:'placeholder:Old Password' }}
	<label>New Password</label>
	{{ form.new_password1|add_class:"form-control"|append_attr:'placeholder:New Password' }}
	<label>Confirm New Password</label>
	{{ form.new_password2|add_class:"form-control"|append_attr:'placeholder:Confirm New Password' }}
	<br />
	<button class="btn btn-lg btn-success btn-block" type="submit">Submit</button><br />
    </form>
</div>    
{% endblock %}
